
        <!-- Layout wrapper -->
        <div class="layout-wrapper layout-content-navbar">
            <div class="layout-container">
              <!-- Menu -->
      
              <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                  <h2 class="fw-bold">Admin Panel</h2>
      
                </div>
      
                <div class="menu-inner-shadow"></div>
      
                <ul class="menu-inner py-1">
                  <!-- Dashboard -->
                  <li class="menu-item">
                    <a href="/admin/dashboard" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-home-circle"></i>
                      <div data-i18n="Analytics">Dashboard</div>
                    </a>
                  </li>
      
                  
      
                  <li class="menu-header small text-uppercase">
                    <span class="menu-header-text">User Management</span>
                  </li>
                  <li class="menu-item">
                    <a href="/admin/usersList" class="menu-link ">
                      <i class="menu-icon tf-icons bx bx-dock-top"></i>
                      <div data-i18n="Form Elements">Users List</div>
                    </a>
                  </li>
                  <li class="menu-item">
                    <a href="/admin/salesReport" class="menu-link ">
                      <i class="menu-icon tf-icons bx bx-dock-top"></i>
                      <div data-i18n="Form Elements">Sales Report</div>
                    </a>
                  </li>
                  
               
                  <!-- Components -->
                  <li class="menu-header small text-uppercase"><span class="menu-header-text">Product Management</span></li>
                  <!-- Cards -->
                  <li class="menu-item">
                    <a href="/admin/productsList" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-collection"></i>
                      <div data-i18n="Form Elements">Products List</div>
                    </a>
                  </li>
                  <!-- User interface -->
                  <li class="menu-item">
                    <a href="/admin/addProduct" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-box"></i>
                      <div data-i18n="Form Layouts">Add Product</div>
                    </a>
                  </li>
      
                 
      
                  <!-- Forms & Tables -->
                  <li class="menu-header small text-uppercase"><span class="menu-header-text">Category Management</span></li>
                  <!-- Forms -->
                  <li class="menu-item">
                    <a href="/admin/CategoriesList" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-detail"></i>
                      <div data-i18n="Form Elements">Categories List</div>
                    </a>
              
                  </li>
                  <li class="menu-item">
                    <a href="/admin/addCategory" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-detail"></i>
                      <div data-i18n="Form Layouts">Add Category</div>
                    </a>
                  </li>
                  

                  <li class="menu-header small text-uppercase"><span class="menu-header-text">Order Management</span></li>
                  <!-- Forms -->
                  <li class="menu-item">
                    <a href="/admin/ordersList" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-detail"></i>
                      <div data-i18n="Form Elements">Orders List</div>
                    </a>
                  </li>

                  <li class="menu-header small text-uppercase"><span class="menu-header-text">Coupon Management</span></li>
                  <!-- Forms -->
                  <li class="menu-item">
                    <a href="/admin/couponsList" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-detail"></i>
                      <div data-i18n="Form Elements">Coupons List</div>
                    </a>
              
                  </li>
                  <li class="menu-item">
                    <a href="/admin/addCoupon" class="menu-link">
                      <i class="menu-icon tf-icons bx bx-detail"></i>
                      <div data-i18n="Form Layouts">Add Coupon</div>
                    </a>
                  </li>
                  
                  
                </ul>
              </aside>
              <!-- / Menu -->
      
              <!-- Layout container -->
              <div class="layout-page">
                <!-- Navbar -->
      
                <nav
                  class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                  id="layout-navbar"
                >
                  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                      <i class="bx bx-menu bx-sm"></i>
                    </a>
                  </div>
      
                  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                    <!-- Search -->
                    <div class="navbar-nav align-items-center">
                      <div class="nav-item d-flex align-items-center">
                        <i class="bx bx-search fs-4 lh-0"></i>
                        <input
                          type="text"
                          class="form-control border-0 shadow-none"
                          placeholder="Search..."
                          aria-label="Search..."
                        />
                      </div>
                    </div>
                    <!-- /Search -->
      
                    <ul class="navbar-nav flex-row align-items-center ms-auto">
                      <!-- Place this tag where you want the button to render. -->
      
                      <!-- User -->
                      <li class="nav-item navbar-dropdown dropdown-user dropdown">
                        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                          <div class="avatar avatar-online">
                            <img src="/admin_assets/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                          </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <li>
                            <a class="dropdown-item" href="#">
                              <div class="d-flex">
                                <div class="flex-shrink-0 me-3">
                                  <div class="avatar avatar-online">
                                    <img src="/admin_assets/assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                                  </div>
                                </div>
                                <div class="flex-grow-1">
                                  <span class="fw-semibold d-block">John Doe</span>
                                  <small class="text-muted">Admin</small>
                                </div>
                              </div>
                            </a>
                          </li>
                          <li>
                            <div class="dropdown-divider"></div>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">
                              <i class="bx bx-user me-2"></i>
                              <span class="align-middle">My Profile</span>
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">
                              <i class="bx bx-cog me-2"></i>
                              <span class="align-middle">Settings</span>
                            </a>
                          </li>
                          <li>
                            <a class="dropdown-item" href="#">
                              <span class="d-flex align-items-center align-middle">
                                <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                                <span class="flex-grow-1 align-middle">Billing</span>
                                <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                              </span>
                            </a>
                          </li>
                          <li>
                            <div class="dropdown-divider"></div>
                          </li>
                          <li>
                            <a class="dropdown-item" href="auth-login-basic.html">
                              <i class="bx bx-power-off me-2"></i>
                              <span class="align-middle">Log Out</span>
                            </a>
                          </li>
                        </ul>
                      </li>
                      <!--/ User -->
                    </ul>
                  </div>
                </nav>
      
                <!-- / Navbar -->
      
                <!-- Content wrapper -->
                <div class="content-wrapper">