<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SpecXpert</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/user_login_assets/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/user_login_assets/css/style.css">

    <style>
        /* Add this style to make the input fields transparent */
        .form-input {
            background-color: transparent;
            border: none;
            border-bottom: 2px solid #050404;
            color: #ffc4c4;
        }

        /* Add this style to change the color of the field labels */
        .form-group label {
            color: #ffffff;
        }
        
        .forgot-password {
        float: right;
        color: #ffffff;
        text-decoration: none;
    }
    </style>
</head>
<body>

<div class="main ">

    <section class="login">
        <!-- <img src="images/login-bg.jpg" alt=""> -->
        <div class="container">
            <div class="login-content">
                <form action="/login" method="POST" id="login-form" class="login-form">
                    <h2 class="form-title">LOGIN</h2>
               <% if(locals.message){%>
                <div id="msg" class="alert alert-danger text-center ">
                    <%= message %>
                 </div>
                <%} %>

                    <div class="form-group">
                        <input type="email" class="form-input" name="email" id="email" placeholder="Please Enter your Email..."/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-input" name="password" id="password" placeholder="Please Enter your Password..."/>
                        <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        <a href="/forgotPassword" class="forgot-password">forgot password?</a>
                    </div>
                   
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit" value="Login"/>
                        <p class="loginhere">
                            login with otp <a href="/otpLogin" class="loginhere-link">otpLogin</a>
                            <br>
                            create a new account ? <a href="/signup" class="loginhere-link">signup here</a>
                        </p>
                    </div>
                    
                </form>
                
                
            </div>
        </div>
    </section>

</div>

<script>
    setTimeout(()=>{
        document.getElementById("msg").style.display='none'
    },2000)
</script>
<!-- JS -->
<script src="/user_login_assets/vendor/jquery/jquery.min.js"></script>
<script src="/user_login_assets/js/main.js"></script>
</body>
</html>
